@model Foodtator.Models.ViewModels.YelpResultsViewModel
@using Foodtator.Classes.Extensions

@{
    ViewBag.Title = "PageSample";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
@section GA{
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80635691-1', 'auto');
  ga('send', 'pageview');

    </script>

}
@section Styles{

    <link href="~/Content/SliderStyle.css" rel="stylesheet" />
}
<div data-ng-controller="resultsController as rc">

    <div class="container">
        <div class="row" ng-show="rc.showPictureBox">
            <div class="feedContainer col-md-6 col-md-offset-3">
                <div class="feedTitleBox">
                    <span class="pull-left">{{rc.activeLoc.name}}</span>
                    <span class="pull-right">{{rc.activeLoc.display_phone}}</span>
                    <div id="clear"></div>
                    <span class="pull-left" ng-repeat="item in rc.activeLoc.location.display_address">  {{item}}  </span>
                    <div id="clear"></div>
                </div>
                <div class="feedImgBox">
                    <img ng-src="{{rc.activeLoc.image_url}}" ngfx-fade-in-right="rc.showPicture" ngfx-fade-out-down="rc.hidePicture" />
                </div>
                <div class="feedControlBox">
                    <div class="pull-left feedBtnBox redBox text-center">
                        <a class="fa fa-trash text-danger" ng-click="rc.nextSlide()"></a>
                    </div>
                    <div class="pull-right feedBtnBox blueBox text-center">
                        <a class="fa fa-cutlery text-success" ng-click="rc.selectSlide(rc.activeLoc)"></a>
                    </div>
                    <div id="clear"></div>
                </div>
            </div>
        </div>

        <div class="subtractPoints col-md-6 col-md-offset-3" ng-show="rc.showMinusPoints" ng-class="{fade: rc.startFadeCoin}">
            -5
        </div>

        <div class="row" ng-show="rc.showNoMoreFeeds">
            <div class="feedContainer col-md-6 col-md-offset-3">
                <div class="feedTitleBox text-center">
                    <h2>No more feeds, check back later!</h2>
                </div>
            </div>
        </div>

        @*<div class="row" ng-show="rc.successMsgBox">
                <div class="feedContainer col-md-6 col-md-offset-3">
                    <div class="feedTitleBox text-center">
                        <h2 style="color:#0099CC;">{{rc.activeLoc.name}}</h2>
                        <h3>is waiting for you.</h3>
                        <h3>Don't forget to check in to earn more points.</h3>
                    </div>
                </div>
            </div>*@

    </div>
</div>

<script type="application/json" id="modelData">
    @Html.RawJson(Model.results.businesses)
</script>

@section scripts{
    <script src="~/Scripts/FoodTator/Services/ResultsService.js"></script>
    <script src="~/Scripts/FoodTator/Services/PointsServices.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script src="~/Scripts/bower_components/flip/dist/jquery.flip.min.js"></script>
    <script type="text/javascript">

        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('resultsController', ResultsController);

            ResultsController.$inject = ['$scope', '$resultsService', '$timeout', '$pointsService'];


            function ResultsController(
                $scope
                , $resultsService
                , $timeout
                , $pointsService) {

                var vm = this;
                vm.$scope = $scope;
                vm.$timeout = $timeout;
                vm.$resultsService = $resultsService;
                vm.$pointsService = $pointsService;

                vm.errMsg = null;
                vm.data = [];
                vm.activeItem = 1;
                vm.showMinusPoints = false;
                vm.startFadeCoin = false;
                vm.activeLoc = {};
                vm.showPicture = false;
                vm.hidePicture = false;
                vm.showPictureBox = true;
                vm.showNoMoreFeeds = false;
                vm.successMsgBox = false;
                vm.successMsg = "";

                vm.nextSlide = _nextSlide;
                vm.selectSlide = _selectSlide;
                vm.Success = _Success;
                vm.Error = _Error;

                init();

                function init() {

                    vm.data = JSON.parse($("#modelData").html());
                    console.log("data is ", vm.data);
                    vm.activeLoc = vm.data[0];
                    vm.showPicture = true;
                }

                function _nextSlide() {
                    console.log("activeItem is ", vm.activeItem);
                    vm.$pointsService.locationDismissed();
                    vm.hidePicture = true;

                    if (vm.activeItem < vm.data.length) {
                        vm.startFadeCoin = true;
                        vm.showMinusPoints = true;

                        vm.$timeout(function () {
                            vm.hidePicture = false;

                            vm.showPicture = false;

                        }, 500);

                        vm.$timeout(function () {
                            console.log("time's up");
                            vm.showMinusPoints = false;
                            vm.startFadeCoin = false;
                            vm.activeLoc = vm.data[vm.activeItem];
                            vm.showPicture = true;
                            vm.activeItem++;
                        }, 1000);
                    } else {
                        vm.showPictureBox = false;
                        vm.showNoMoreFeeds = true;
                    }
                };
                function _selectSlide(payload) {
                    console.log("payload is", payload);
                    $.ajax({
                        type: 'POST',
                        url: '/api/CheckIn/Selected',
                        data: payload,
                        datatype: 'json',
                        success: _Success,
                        error: _Error
                    });
                };

                function _Success(data) {
                    console.log("Data passed", data);
                    window.location.replace('/checkin#/share/selected');
                    //vm.$scope.$apply(function () {
                    //    vm.showPictureBox = false;
                    //    vm.successMsgBox = true;
                    //    vm.successMsg = "";
                    //});

                }

                function _Error() {
                    console.log("Fail")
                }


            };
        })();
    </script>


}
