@model YelpSharp.Data.SearchResults
@using Foodtator.Classes.Extensions

@{
    ViewBag.Title = "PageSample";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

@section Styles{

    <link href="~/Content/SliderStyle.css" rel="stylesheet" />
}
<div data-ng-controller="resultsController as rc">

    <div class="container">
        <div class="row" ng-show="rc.showPicture">
            <div class="feedContainer col-md-6 col-md-offset-3">
                <div class="feedTitleBox">
                    <span class="pull-left">{{rc.activeLoc.name}}</span>
                    <span class="pull-right">{{rc.activeLoc.display_phone}}</span>
                    <div id="clear"></div>
                    <span  class="pull-left" ng-repeat="item in rc.activeLoc.location.display_address"> {{item}} </span>
                    <div id="clear"></div>
                </div>
                <div class="feedImgBox" style="max-height: 480px;">
                    <img ng-src="{{rc.activeLoc.image_url}}" ng-class="{fadeInPicture: rc.startFadePicture}" />
                </div>
                <div class="feedControlBox">
                    <a class="pull-left fa fa-trash text-danger" ng-click="rc.nextSlide()"></a>
                    <a class="pull-right fa fa-cutlery text-success" ng-click="rc.selectSlide(rc.activeLoc)"></a>
                    <div id="clear"></div>
                </div>
            </div>
        </div>

        <div class="subtractPoints col-md-6 col-md-offset-3" ng-show="rc.showMinusPoints" ng-class="{fade: rc.startFade}">
            -5
        </div>

        <div class="row" ng-show="rc.showNoMoreFeeds">
            <div class="feedContainer col-md-6 col-md-offset-3">
                <div class="feedTitleBox text-center">
                    <h2>No more feeds, u indecisive *#~*&!</h2>
                </div>
            </div>
        </div>

        <div class="row" ng-show="rc.successMsgBox">
            <div class="feedContainer col-md-6 col-md-offset-3">
                <div class="feedTitleBox text-center">
                    <h2 style="color:#0099CC;">{{rc.activeLoc.name}}</h2>
                    <h3>is waiting for you.</h3>
                    <h3>Don't forget to check in to earn more points.</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="application/json" id="modelData">
    @Html.RawJson(Model.businesses)
</script>

@section scripts{
    <script src="~/Scripts/FoodTator/Services/ResultsService.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script type="text/javascript">

        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('resultsController', ResultsController);

            ResultsController.$inject = ['$scope', '$resultsService', '$timeout'];

            function ResultsController(
                $scope
                , $resultsService
                , $timeout) {

                var vm = this;
                vm.$scope = $scope;
                vm.$timeout = $timeout;
                vm.$resultsService = $resultsService;
                vm.errMsg = null;
                vm.data = [];
                vm.activeItem = 1;
                vm.showMinusPoints = false;
                vm.startFade = false;
                vm.startFadePicture = false;
                vm.activeLoc = {};
                vm.showPicture = true;
                vm.showNoMoreFeeds = false;
                vm.successMsgBox = false;
                vm.successMsg = "";

                vm.nextSlide = _nextSlide;
                vm.selectSlide = _selectSlide;
                vm.Success = _Success;
                vm.Error = _Error;

                init();

                function init() {
                    vm.data = JSON.parse($("#modelData").html());
                    console.log("data is ", vm.data);
                    vm.activeLoc = vm.data[0];
                }

                function _nextSlide() {
                    console.log("activeItem is ", vm.activeItem);
                    if (vm.activeItem < vm.data.length) {
                        vm.startFadePicture = true;
                        vm.startFade = true;
                        vm.showMinusPoints = true;

                        vm.$timeout(function () {
                            console.log("time's up");
                            vm.showMinusPoints = false;
                            vm.startFade = false;
                            vm.activeLoc = vm.data[vm.activeItem];
                            vm.activeItem++;
                            vm.startFadePicture = false;
                        }, 500);
                    } else {
                        vm.showPicture = false;
                        vm.showNoMoreFeeds = true;
                    }
                };
                function _selectSlide(payload) {
                    console.log("payload is", payload);
                    $.ajax({
                        type: 'POST',
                        url: '/api/CheckIn/Selected',
                        data: payload,
                        datatype: 'json',
                        success: _Success,
                        error: _Error
                    });
                };

                function _Success(data) {
                    console.log("Data passed", data);
                    vm.$scope.$apply(function () {
                        vm.showPicture = false;
                        vm.successMsgBox = true;
                        vm.successMsg = "";
                    });
                    
                }

                function _Error() {
                    console.log("Fail")
                }


            };
        })();
    </script>


}
