<div class="container">
    <div class="row">
        <div class="feedContainer col-md-6 col-md-offset-3">

            <div class="feedControlBox text-center">      
                <h2 style="color:#0099CC;">You have</h2>
                {{mpc.user.redeemPoints}}
                <h2 style="color:#0099CC;">redeemable points</h2>

                <hr />
                {{mpc.user.rankingPoints}}
                <h2 style="color:#cc3300;">experience points</h2>
            </div>
        </div>
    </div>

</div>