html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Comfortaa', cursive;
}

a {
    font-family: 'Comfortaa', cursive;
}

    a:hover {
        text-decoration: none;
        cursor: pointer;
    }

.headerLogo {
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
/* Mobile devices */
@media (min-width: 0px) and (max-width: 767px) {
    .userbg {
        width: 100%;
        min-height: 100%;
        background: url("images/bgmobile.jpg") top center no-repeat;
        background-size: auto 100%;
    }

    .navbar-default .navbar-toggle {
        margin-top: 15px;
    }

    .registerWindow {
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        min-height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .feedContainer {
        margin-top: 65px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 4px;
        padding: 0px;
        background-color: #FFFFFF;
    }

    .feedTitleBox {
        padding: 10px 20px;
    }

    .feedImgBox {
        min-height: 200px;
        max-height: 380px;
        overflow: hidden;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 0px;
    }

        .feedImgBox img {
            width: 100%;
        }

    .feedControlBox {
        padding: 10px 80px;
        font-size: 56px;
    }

    .bizFormTitle {
        text-align: left;
    }

    .pointsBox span {
        font-size: 40px;
    }

   
}

/* Desktop */
@media (min-width: 768px) {
    .userbg {
        width: 100%;
        min-height: 100%;
        background: url("images/bg1.jpg") top center no-repeat;
        background-size: 100% auto;
    }

    .registerWindow {
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        margin-top: 10%;
        padding: 30px;
        border-radius: 10px;
    }

    .indexLogo {
        margin-top: -70px;
    }

    .feedContainer {
        margin-top: 100px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 4px;
        padding: 0px;
        background-color: #FFFFFF;
    }

    .feedTitleBox {
        padding: 10px 20px;
    }

    .feedImgBox {
        max-height: 480px;
        overflow: hidden;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 0px;
    }

        .feedImgBox img {
            width: 100%;
        }

    .feedControlBox {
        padding: 10px 80px;
        font-size: 56px;
    }

    .xsOffset {
        display: none;
    }

    .bizFormTitle {
        text-align: right;
    }
}

/* All */
label {
    font-weight: normal;
}

.navbar-default {
    background-color: rgba(0,0,0,0.5);
    border: none;
}

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: antiquewhite;
        }

.navbar-nav > li > a {
    padding-top: 23px;
}

.dashbg {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    background-size: auto 100%;
}

#checkInEstablishment {
    width: 90%;
    height: 50%;
    border: 1px solid;
    margin: 20px auto;
}

.establishmentTitle {
    font-size: 20px;
    color: #fff;
}

.subtractPoints {
    opacity: 1;
    z-index: 99;
    margin-top: -130px;
    font-size: 30px;
    padding-left: 85px;
    color: #ffbf00;
    font-weight: bold;
}

.fade {
    transform: translateY(-20px);
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    transition: all 1.5s ease;
    opacity: 0;
}

.fadeInPicture {
    transition: 1s linear all;
    opacity: 0;
}

    .fadeInPicture.ng-show {
        opacity: 0;
    }


#clear {
    clear: both;
}

.icon_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.dropzoneSubmitBtn {
    margin-bottom: 20px;
}

.bigBtn {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #17A88B;
    border-radius: 4px;
    padding: 8px 15px;
    box-shadow: 0 3px 0 0 #0e6553;
    cursor: pointer;
    padding: 15px;
}

    .bigBtn:active {
        box-shadow: inset 0 3px 0 0 #0e6553;
        position: relative;
        top: 1px;
    }

.redBtn {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #cc1a23;
    border-radius: 4px;
    padding: 8px 15px;
    box-shadow: 0 3px 0 0 #650e1f;
    cursor: pointer;
    padding: 15px;
}

    .redBtn:active {
        box-shadow: inset 0 3px 0 0 #650e1f;
        position: relative;
        top: 1px;
    }
