
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}


<div class="userbg" data-ng-controller="homeController as hc">

    <div class="registerWindow col-sm-offset-1 col-sm-10 col-lg-offset-4 col-lg-4 text-center">
        <img src="~/Content/images/foodtator_logo.png" alt="logo" width="100" class="indexLogo" />
        <h2 class="text-center">Log me in!</h2>
        <hr />

        @* Facebook login*@
        <p class="text-muted text-center" style="color: #ffffff;">Sign up with your Facebook account</p>
        <div class="clearfix">
            <div ng-controller="facebookLoginController as fbc">
                <div class="text-center">
                    <button type="button" class="btn btn-raised btn-primary" ng-click="fbc.fblogin()" ng-disabled="fbc.loading == true"><i class="ti-facebook mr-5"></i> {{fbc.registerBtnText}}</button>
                </div>

                <div id="status">
                </div>
            </div>
        </div>

        <hr />

        @* Regular register*@
        <form id="loginForm" name="hc.loginForm" ng-submit="hc.logUserClicked()" novalidate>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" ng-model="hc.logUser.email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="hc.logUser.password">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-raised btn-success">{{hc.registerBtnText}}</button>
            </div>
        </form>

        <div ng-show="hc.errMsg">
            <br />
            <div class="alert alert-danger">{{hc.errMsg}}</div>
        </div>

        <br />
        <p>I don't have an account - <a href="/user/register">Register</a></p>

    </div>
</div>

<!-- Merge modal -->
<script type="text/ng-template" id="modalContent.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="mc.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Existing Account</h4>
        </div>
        <div class="modal-body">
            <p>You already have an account, would you like to merge them?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="mc.cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="mc.ok()">Merge Accounts</button>
        </div>
    </div><!-- /.modal-content -->
</script>

@section scripts{
    <script src="~/Scripts/FoodTator/Services/UserServices.js"></script>
    <script src="~/Scripts/FoodTator/Services/FacebookServices.js"></script>
    <script src="~/Scripts/FoodTator/App/Users/Controllers/FacebookLoginController.js"></script>
    <script type="text/javascript">

        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('homeController', HomeController);

            HomeController.$inject = ['$scope', '$userService'];

            function HomeController(
                $scope
                , $userService) {

                var vm = this;
                vm.$scope = $scope;
                vm.$userService = $userService;

                vm.logUser = {};
                vm.loading = false;
                vm.registerBtnText = "Login";
                vm.errMsg = null;

                vm.logUserClicked = _logUserClicked;
                vm.onSuccess = _onSuccess;
                vm.onErr = _onErr;

                init();

                function init() {
                    console.log("register page");
                    $('#howItWorksBtn').addClass('hidden');
                    $('#contactBtn').addClass('hidden');
                    $('#homeBtn').attr('href', '/');

                    vm.$userService.test();
                };

                function _logUserClicked() {
                    vm.logUser.confirmPassword = vm.logUser.password;
                    console.log("log me in", vm.logUser);
                    vm.$userService.login(vm.logUser, vm.onSuccess, vm.onErr);
                    vm.loading = true;
                    vm.registerBtnText = "Loading...";
                };

                function _onSuccess(data) {
                    console.log("user logged in", data);
                    window.location.href = '/dashboard';
                    vm.loading = false;
                    vm.registerBtnText = "Login";
                };

                function _onErr(data) {
                    console.log("ajax err", data);
                    vm.loading = false;
                    vm.registerBtnText = "Login";
                    vm.errMsg = data.Message;
                };



            }
        })();
    </script>
}


