
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<div class="userbg">

    <div class="registerWindow col-sm-offset-1 col-sm-10 col-lg-offset-4 col-lg-4 text-center">
        <img src="~/Content/images/logo.png" alt="logo" width="80" class="indexLogo" />
        <h2 class="text-center">Log me in!</h2>
        <hr />

        @* Facebook login*@
        <p class="text-muted text-center" style="color: #ffffff;">Login with your Facebook account</p>
        <div class="clearfix">
            <div>
                <div class="text-center">
                    <button type="button" class="btn btn-raised btn-primary" ng-click="fbc.fblogin()"><i class="ti-facebook mr-5"></i> Facebook</button>
                </div>

                <div id="status">
                </div>

            </div>

        </div>

        <hr />

        @* Regular register*@
        <form>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-raised btn-success">Login</button>
            </div>
        </form>
        <br />
        <p>I don't have an account - <a href="/user/register">Register</a></p>

    </div>

</div>

@section scripts{
    <script type="text/javascript">

        tkj.page.startUp = function () {

            console.log("Login page");
            $('#howItWorksBtn').addClass('hidden');
            $('#contactBtn').addClass('hidden');
            $('#homeBtn').attr('href', '/');
        };

    </script>
}
