<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-heading">
                <h3 class="widget-title">My Coupons</h3>
            </div>
            <div class="widget-body">
                <p></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead >
                            <tr>
                                <th>ID</th>
                                <th>Coupon Name</th>
                                <th>Discount</th>
                                <th>Activation Date</th>
                                <th>Expiraton Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>19942</td>
                                <td>Major Discount</td>
                                <td>90% Off</td>
                                <td>9/8/2016</td>
                                <td>10/8/2016</td>
                                <td>Active</td>
                                <td><button class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</button></td>
                            </tr>
                            <tr>
                                <td>19942</td>
                                <td>Major Discount</td>
                                <td>90% Off</td>
                                <td>9/8/2016</td>
                                <td>10/8/2016</td>
                                <td>Active</td>
                                <td><button class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</button></td>
                            </tr>

                       
                            
                        </tbody>
                    </table>
                    <hr />
                </div>
             
            </div>
        </div>
    </div>
</div>
