<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">{{cmc.pageTitle}}</h3>
    </div>
    <div class="widget-body">
        <form id="form-horizontal" class="form-horizontal">

            <div class="row">
                <h3 class="col-md-4 bizFormTitle">Basic Infomation</h3>
            </div>

            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponName" class="col-sm-3 col-md-4 control-label">Name</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponName" name="Name" type="text" class="form-control" ng-model="cmc.newCoupon.name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">Coupe Code</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="CouponCode" type="text" class="form-control" ng-model="cmc.newCoupon.couponCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponDiscounts" class="col-sm-3 col-md-4 control-label">Locations</label>
                            <div class="col-sm-9 col-md-8">
                                <select id="msEditorsHor" name="Locations" multiple="multiple" size="4" data-rule-required="true"
                                         class="form-control" aria-required="true" aria-invalid="false" ng-model="cmc.newCoupon.location">
                                    <option value="atom">Atom</option>
                                    <option value="eclipse">Eclipse</option>
                                    <option value="netbeen">NetBean</option>
                                    <option value="nodepadplusplus">Nodepad++</option>
                                    <option value="phpstorm">PHP Storm</option>
                                    <option value="sublime">Sublime</option>
                                    <option value="webstorm">Web Storm</option>
                                </select>
                                <span>* Hold shift to select multiple locations.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponDiscounts" class="col-sm-3 col-md-4 control-label">Discounts</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponDiscounts" name="Discounts" type="text" class="form-control" ng-model="cmc.newCoupon.discounts">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponDescription" class="col-sm-3 col-md-4 control-label">Description</label>
                            <div class="col-sm-9 col-md-8">
                                <textarea id="couponDescription" name="Description" class="form-control" ng-model="cmc.newCoupon.description" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="availabilityCheckBoxLabel" class="col-sm-3 col-md-4 control-label">Availability</label>
                            <div class="col-sm-6 col-md-7 checkbox-custom" style="margin-left:15px;">
                                <input id="availabilityCheckBox" type="checkbox" value="option1">
                                <label for="availabilityCheckBox">If this box is checked the coupon is available for use.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />

            <div class="row">
                <h3 class="col-md-4 bizFormTitle">Options</h3>
            </div>
            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="activationDateLabel" class="col-sm-3 col-md-4 control-label">Activation Date</label>
                            <div id="minimum-dtpicker" class="input-group date col-sm-9 col-md-8">
                                <datepicker date-format="M/d/yy">
                                    <input ng-model="cmc.newCoupon.activation" type="text" class="form-control">
                                </datepicker>
                                <span class="input-group-addon"><span class="ti-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="expirationDateLabel" class="col-sm-3 col-md-4 control-label">Expiration Date</label>
                            <div id="minimum-dtpicker" class="input-group date col-sm-9 col-md-8">
                                <datepicker date-format="M/d/yy">
                                    <input type="text" class="form-control" ng-model="cmc.newCoupon.expires" name="Expires">
                                </datepicker>
                                <span class="input-group-addon"><span class="ti-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="maxRedemptionsLable" class="col-sm-3 col-md-4 control-label">Max Redemptions</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="maxRedemptions" name="MaxRedemptions" type="number" class="form-control" ng-model="cmc.newCoupon.maxRedemptions">
                                <span>The number of times a coupon can be used.  Set to 0 or empty for unlimited redemptions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="row">
                <div class="col-md-2 col-md-offset-4 text-center" style="margin-bottom: 10px;" ng-click="cmc.deleteCoupon(cmc.newCoupon.id)">
                    <div class="redBtn">
                        Delete Coupon
                    </div>                  
                </div>
                
                <div class="col-md-2 text-center" ng-click="cmc.createCoupon()">
                    <div class="bigBtn">
                    Create Coupon
                </div>
            </div>
            </div>


        </form>
    </div>
</div>
