<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-heading">
                <h3 class="widget-title">My Locations</h3>
            </div>
            <div class="widget-body">
                <p></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>19942</td>
                                <td>McDees</td>
                                <td>100 Corp Dr.  NewPort Beach, CA 00111</td>
                                <td>(714)222-2222</td>
                                <td><button class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</button></td>
                            </tr>
                            <tr>
                                <td>19942</td>
                                <td>McDees</td>
                                <td>100 Corp Dr.  NewPort Beach, CA 00111</td>
                                <td>(714)222-2222</td>
                                <td><button class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</button></td>
                            </tr>



                        </tbody>
                    </table>
                    <hr />
                </div>

            </div>
        </div>
    </div>
</div>
