<div class="widget">
    <div class="widget-heading">
        <h3 class="widget-title">{{lmc.pageTitle}}</h3>
    </div>
    <div class="widget-body">
        <form id="form-horizontal" class="form-horizontal">

            <div class="row">
                <h3 class="col-md-4 bizFormTitle">Location Infomation</h3>
            </div>

            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponName" class="col-sm-3 col-md-4 control-label">Lacation Name</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponName" name="Name" type="text" class="form-control" ng-model="lmc.newLocation.name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">Lacation ID</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="couponCode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">Address 1</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="couponCode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">Address 2</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="couponCode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">City</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="couponCode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">State</label>
                            <div class="col-sm-9 col-md-8">
                                <select id="ddlCountryBilling" name="ddlCountryBilling" class="form-control">
                                    <option value="">--Please Select--</option>
                                    <option value="CA">CA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">Zip Code</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="couponCode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">Phone Number</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="couponCode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="form-group">
                            <label for="couponCode" class="col-sm-3 col-md-4 control-label">Website</label>
                            <div class="col-sm-9 col-md-8">
                                <input id="couponCode" name="couponCode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                  
                </div>
            </fieldset>
            
            <br />
            <div class="row">
                <div class="col-md-2 col-md-offset-4 text-center" style="margin-bottom: 10px;">
                    <div class="redBtn">
                        Delete Location
                    </div>
                </div>

                <div class="col-md-2 text-center">
                    <div class="bigBtn">
                        Create Location
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
