@{
    ViewBag.Title = "CouponView";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<section id="labels">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="dl">
                    <div class="brand">
                        <h2>
                            mango
                        </h2>
                    </div>
                    <div class="discount alizarin">
                        30%
                        <div class="type">
                            off
                        </div>
                    </div>
                    <div class="descr">
                        <strong>
                            Mei mucius gloriatur reprimique mollis*.
                        </strong>
                        Ad sonet perfecto antiopam mei, denique molestie ne has.
                    </div>
                    <div class="ends">
                        <small>
                            * Conditions and restrictions apply.
                        </small>
                    </div>
                    <div class="coupon midnight-blue">
                        <div id="code-1" >
                            LV5MAY14
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
