@model Foodtator.Models.ViewModels.BaseViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
@section styles{
    <link href="~/Scripts/bower_components/dropzone/dist/min/basic.min.css" rel="stylesheet" />
    <link href="~/Scripts/bower_components/dropzone/dist/dropzone.css" rel="stylesheet" />
    <style>
        .dropzone {
            border: 1px dashed rgba(0,0,0,0.1);
            color: #428bca;
        }

            .dropzone .camIcon {
                font-size: 50px;
            }
    </style>
}

<div class="container">
    <div class="row">
        <div class="feedContainer col-md-6 col-md-offset-3">

            <h2 class="text-center">Submit meal!</h2>
            <hr />
            @* Drop Zone Meal*@
            <div class="row">
                <div class="col-xs-1 xsOffset"></div>
                <form class="col-md-10 col-md-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="text">Restaurant Name</label>
                        <input type="text" name="Title" id="Title" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="text">Describe the goodness you just ate</label>
                        <input type="text" class="form-control" name="Description" id="Description">
                    </div>

                    <div id="my-awesome-dropzone" class="dropzone text-center">
                        
                    </div>

                </form>
            </div>
            <hr />
            <div class="text-center dropzoneSubmitBtn">
                <button type="button" class="btn btn-raised btn-success">
                    Submit Photo!
                </button>
            </div>
            <div class="alert alert-success hidden col-md-10 col-md-offset-1 col-xs-12" id="picuploaded">
                <strong>Success!</strong>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/bower_components/dropzone/dist/dropzone.js"></script>
    <script type="text/javascript">

        tkj.page.startUp = function () {
            tkj.page.initializeDropzone();
        };

        tkj.page.initializeDropzone = function () {
            var latitude = null;
            var longitude = null;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;
                });
            }

            Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

                // The configuration we've talked about above
                autoProcessQueue: false,
                uploadMultiple: false,
                parallelUploads: 1,
                maxFiles: 1,
                maxFilesize: 5,
                url: "/api/photouploader/UploadWithData/",

                // The setting up of the dropzone
                init: function () {
                    var myDropzone = this;

                    // First change the button to actually tell Dropzone to process the queue.
                    $('.dropzoneSubmitBtn').on("click", function (e) {
                        // Make sure that the form isn't actually being sent.
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });

                    this.on("sending", function (file, xhr, formData) {
                        // Will send the filesize along with the file as POST data.
                        formData.append("Title", $('#Title').val());
                        formData.append("Description", $('#Description').val());
                        formData.append("Latitude", latitude);
                        formData.append("Longitude", longitude);
                        console.log(latitude, longitude, "Form!!");

                    });

                    this.on("success", function (file, response) {
                        console.log("id is " + response.item);
                        tkj.page.uploaded(response.item);
                        console.beep();

                    })
                }

            }
        };

        tkj.page.uploaded = function (item) {

            $('#picuploaded').removeClass('hidden');
            $('#picuploaded span').text('ID is' + item);
            $('#picuploaded').show().delay(5000);

        };

    </script>
}

