<div class="dashbg">
    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-4 col-lg-4 text-center">
        <br /><br /><br />
        <div id="checkInEstablishment">
            <img src="/Content/images/bgmobile.jpg" width="100%" />
            <div class="establishmentTitle">
                Tommy's burger
            </div>

        </div>
        <button id="checkInBtn" class="btn btn-primary" ng-click="slc.checkInClicked()">Check In</button>

        <div id="output">
            
        </div>

        <button ng-show="slc.showRateBtn" class="btn btn-primary" ng-click="slc.rateClicked()">Rate</button>
    </div>

</div>


<script async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7_aQUU0GcNJ0lPfufE1qoLixA4uUL04I">
</script>