<div class="container" ng-show="slc.showSelected">
    <div class="row">
        <div class="feedContainer col-md-6 col-md-offset-3 col-xs-12">
            <div class="feedTitleBox">
                <span class="pull-left">{{slc.selectedLoc.establishmentName}}</span>
                <div id="clear"></div>
            </div>
            <div class="feedImgBox">
                <img ng-src="{{slc.selectedLoc.imageUrl}}" />
            </div>
            <div class="feedControlBox text-center" ng-show="slc.showCheckInBtn">
                <a ng-click="slc.checkInClicked()"><span class="glyphicon glyphicon-map-marker text-primary"></span></a>
                <h6 style="margin-top:-10px;">Check In</h6>
            </div>
        </div>
    </div>

    <div class="row" ng-show="slc.checkInResult">
        <div class="feedContainer col-md-6 col-md-offset-3 col-xs-12" style="margin-top:10px;">
            <div class="feedTitleBox text-center">
                {{slc.checkInResultText}}
                
            </div>
        </div>
    </div>  
</div>

<div class="container" ng-show="slc.showNoSelected">
    <div class="row">
        <div class="feedContainer col-md-6 col-md-offset-3 col-xs-12">
          
            <div class="feedControlBox text-center">
                <h2>Nothing to checkin at this moment</h2>
                <a href="/dashboard" class="btn btn-primary">Find a joint!</a>
            </div>
        </div>
    </div>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7_aQUU0GcNJ0lPfufE1qoLixA4uUL04I">
</script>
