<div class="container">
    <div class="row">
        <div class="feedContainer col-md-6 col-md-offset-3">

            <div class="feedControlBox text-center">
                <h3 style="color:#0099CC;">Congrats!</h3>
                <h4 style="color:#0099CC;">You just earned {{sc.earnedPoints}} points.</h4>

                <div class="row" ngfx-fade-in="sc.showPoints">
                    <h4 style="color:#0099CC;">You now have</h4>

                    <div class="col-md-6 col-xs-6 pointsBox">
                        <span count-to="{{sc.countToRP}}" value="{{sc.startRP}}" duration="1"></span>
                        <h6 style="color:#0099CC;">redeemable points</h6>
                    </div>

                    <div class="col-md-6 col-xs-6 pointsBox">
                        <span count-to="{{sc.countToXP}}" value="{{sc.startXP}}" duration="1"></span>
                        <h6 style="color:#cc3300;">experience points</h6>
                    </div>

                </div>

                <hr />

                <div class="row">

                    <div ngfx-fade-in="sc.showCameraBtn">
                        <h4>Share some pictures to earn more points</h4>

                        <a href="/photoupload" class="btn btn-primary btn-lg col-md-6 col-lg-offset-3 col-xs-12"><span class="fa fa-camera"></span></a>

                    </div>
                </div>

                <div ngfx-fade-in="sc.showSelectedMsg">
                    <h4>Don't forget to check in to earn more points.</h4>

                </div>

            </div>
        </div>
    </div>

</div>