
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNpuHgerX08Tf7BaVstWT0wQ2MhCuQiE&libraries=places"></script>
<script type="text/javascript">
    

</script>