@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

@section Styles
{
    <link href="~/Content/jquery.fullPage.css" rel="stylesheet" />
}

<h2>@ViewBag.Message</h2>
<div>


</div>
@section scripts{
    <script type="text/javascript">
   
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
                $.ajax({
                    type: 'GET',
                    url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + ',' + position.coords.longitude ,
                    datatype: 'jsonp',
                    success: tkj.page.handlers.success,
                    error:tkj.page.handlers.error
                });
              
        });
       
    }

    tkj.page.handlers.success = function (data) {
        console.log(data,"DATA");
        var str = data.results[3].address_components[1].long_name;
        str = str.replace(/\s+/g, '-').toLowerCase();
       
        window.location.replace("/Results/location/" + str);
    }

    tkj.page.handlers.error = function (data) {
        alert("DATATATATATA",data);
    }



    </script>
}