@model Foodtator.Models.ViewModels.BaseViewModel
@using Foodtator.Classes.Extensions

@{
    ViewBag.Title = "_LayoutUmega";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <title>Foodtator Biz</title>

    <!-- Fonts and icons-->
    <script src="https://use.fontawesome.com/af23b8d863.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Arbutus+Slab|Comfortaa' rel='stylesheet' type='text/css'>
    <!-- PACE-->
    <link href="~/Content/umega/pace-theme-flash.css" rel="stylesheet" />
    <script src="~/Scripts/Umega/pace.js"></script>
    <!-- Bootstrap CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Fonts-->
    <link href="~/Content/umega/themify-icons.css" rel="stylesheet" />
    <!-- Malihu Scrollbar-->
    <link href="~/Content/umega/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- Animo.js-->
    <link href="~/Content/umega/animate-animo.min.css" rel="stylesheet" />
    <!-- Primary Style-->
    <link href="~/Content/umega/first-layout.css" rel="stylesheet" />
    <!-- Foodtator Style-->
    <link href="~/Content/foodtator.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("Styles", required: false)

</head>
<body data-sidebar-color="sidebar-light" class="sidebar-light" ng-app="FoodtatorApp">
    <!-- Header start-->
    <header>
        <div class="search-bar closed">
            <form>
                <div class="input-group input-group-lg">
                    <input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn">
                        <button type="button" class="btn btn-default search-bar-toggle"><i class="ti-close"></i></button>
                    </span>
                </div>
            </form>
        </div><a href="index.html" class="brand pull-left"><img src="~/Content/images/foodtator_logo_header.png" alt="" width="100"></a><a href="javascript:;" role="button" class="hamburger-menu pull-left"><span></span></a>

        <ul class="notification-bar list-inline pull-right">
            <li class="dropdown visible-lg visible-md">
                <a id="dropdownMenu2" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle header-icon lh-1 pt-15 pb-15">
                    <div class="media mt-0">
                        <div class="media-left avatar"><img src="~/Content/images/mac.png" alt="" class="media-object img-circle"><span class="status bg-success"></span></div>

                    </div>
                </a>
                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu fs-12 animated fadeInDown">
                    <li><a href="#/profile"><i class="ti-user mr-5"></i> My Profile</a></li>
                    <li><a href="#/account"><i class="ti-settings mr-5"></i> Account Settings</a></li>
                    <li><a href="login-v2.html"><i class="ti-power-off mr-5"></i> Logout</a></li>
                </ul>
            </li>

            <li>
                <div class="media-right media-middle pl-0">
                    <p class="fs-12 mb-0" style="color: #ffffff; padding: 25px 20px;">Hi, Matthew</p>
                </div>
            </li>
        </ul>
    </header>
    <!-- Header end-->
    <div class="main-container">
        <!-- Main Sidebar start-->
        <aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
            <div class="user">
                <div id="esp-user-profile" data-percent="65" style="height: 130px; width: 130px; line-height: 100px; padding: 15px;" class="easy-pie-chart"><img src="~/Content/images/mac.png" alt="" class="avatar img-circle"></div>
                <h4 class="fs-16 text-muted mt-15 mb-5 fw-300">Matthew Gonzalez</h4>
                <p class="mb-0 text-muted">Designer</p>
            </div>
            <ul class="list-unstyled navigation mb-0">
                <li class="sidebar-category pt-0">Main</li>
                <li><a href="#/dashboard"><i class="fa fa-tachometer"></i><span class="sidebar-title">Dashboard</span></a></li>
                <li class="panel">
                    <a role="button" data-toggle="collapse" data-parent=".navigation" href="" aria-expanded="false" aria-controls="collapse2" class="collapsed"><i class="fa fa-map-marker"></i><span class="sidebar-title">Locations</span></a>
                    <ul id="collapse2" class="list-unstyled collapse">
                        <li><a href="#/location">My Locations</a></li>
                        <li><a href="#/location/new">New Location</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a role="button" data-toggle="collapse" data-parent=".navigation" href="" aria-expanded="false" aria-controls="collapse2" class="collapsed"><i class="fa fa-ticket"></i><span class="sidebar-title">Coupons</span></a>
                    <ul id="collapse2" class="list-unstyled collapse">
                        <li><a href="#/coupon">My Coupons</a></li>
                        <li><a href="#/coupon/new">New Coupon</a></li>              
                    </ul>
                </li>
                <li><a href="#/account/avatar"><i class="fa fa-cogs"></i><span class="sidebar-title">Account Setting</span></a></li>
                <li><a href="#/profile"><i class="fa fa-user"></i><span class="sidebar-title">My Profile</span></a></li>
                
            </ul>
        </aside>
        <!-- Main Sidebar end-->
        <div class="page-container">

            <div class="page-content container-fluid">

                @RenderBody()

            </div>
        </div>


    </div>

    <!-- jQuery-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Malihu Scrollbar-->
    <script src="~/Scripts/Umega/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Animo.js-->
    <script src="~/Scripts/Umega/animo.min.js"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="~/Scripts/Umega/app.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bower_components/angular/angular.min.js"></script>
    <script src="~/Scripts/bower_components/angular-route/angular-route.min.js"></script>
    <script src="~/Scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/bower_components/angular-fx/src/js/angular-fx.js"></script>

    <script src="~/Scripts/tkj.js"></script>

    @RenderSection("pageInitScripts", required: false)
    <script src="~/Scripts/FoodTator/Core/tkj.module.js"></script>

    @*ng js*@
    <script type="text/javascript">
        var APPNAME = 'FoodtatorApp';
    </script>

    <script src="~/Scripts/FoodTator/Services/PublicService.js"></script>
    <script src="~/Scripts/FoodTator/Core/services/base.service.js"></script>
    <script src="~/Scripts/FoodTator/App/Public/Controllers/PublicController.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        tkj.page.startUp = function () {
            $('a, .collapsed').on('click', menuCollapseClicked);
        }

        var menuCollapseClicked = function () {
            $(this).next().slideToggle();
        }

    </script>
</body>
</html>