
        <ul class="nav navbar-nav navbar-right" data-ng-controller="publicController as public">
            <li>
                <a role="button" ng-click="public.logOut()" class="icon userLogOutBtn">
                    <i class="glyphicon glyphicon-remove-sign" ng-click="public.logOut()"></i>
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
  

    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
    </ul>
