
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

@section Styles
{
    <link href="~/Content/jquery.fullPage.css" rel="stylesheet" />

}

<div ng-view></div>


@section Scripts{
    <script src="~/Scripts/FoodTator/App/CheckIn/CheckInConfig.js"></script>
    <script src="~/Scripts/FoodTator/App/CheckIn/Controllers/rateController.js"></script>
    <script src="~/Scripts/FoodTator/App/CheckIn/Controllers/selectionLoadedController.js"></script>

    <script src="~/Scripts/FoodTator/Services/GoogleMapService.js"></script>

    <script type="text/javascript">
    tkj.page.startUp = function () {
        window.location.replace('checkin#/selectionLoaded');
    }

    </script>


}

