@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

@section Styles
{
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link href="~/Content/jquery.fullPage.css" rel="stylesheet" />
}

<div id="fullpage" data-ng-controller="homeController as hc">
    <div class="section text-center" id="topSection">
        <div class="userbg">
            <div class="col-sm-offset-1 col-sm-10 col-lg-offset-4 col-lg-4 text-center">
                <br /><br /><br />
                <h1>Foodtator</h1>
                <h2>tells you where to eat!</h2>
                <button class="btn btn-danger-outline">Download Now</button>
            </div>

        </div>
    </div>

    <div class="section text-center" id="howItWorksSection">
        <div class="slide" id="slide1">
            <h1>slide 1</h1>
        </div><!-- End slide1 -->
        <div class="slide" id="slide2">
            <h1>slide 2</h1>
        </div><!-- End slide2 -->
        <div class="slide" id="slide3">
            <h1>slide 3</h1>
        </div><!-- End slide3 -->
        <div class="slide" id="slide4">
            <h1>slide 4</h1>
        </div><!-- End slide4 -->
    </div><!-- End section1 -->
    <div class="section" id="contactUsSection">
        <div class="section about" id="home">
            <div class="row">
                <div class="wrap">
                    <div class="text-block col-md-6">
                        <div class="title">Foodtator</div>
                        <div class="title2">
                            Tells you where to eat<br class="nomb">
                            The incentive will solve<br class="nomb">
                            "I'll eat anywhere".
                        </div>
                    </div>
                    <div class="iphone-wrapper col-md-6">
                        <div class="iphone"><img alt="Looksery on Iphone" src="https://da38ojz7nz81l.cloudfront.net/img/iphone-2.jpg" class=""></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.fullPage.js"></script>

    <script src="~/Scripts/FoodTator/Services/UserServices.js"></script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('homeController',HomeController);

            HomeController.$inject = ['$scope', '$userService'];

            function HomeController(
                $scope
                , $userService) {

                var vm = this;
                vm.$scope = $scope;
                vm.$userService = $userService;

                init();

                function init() {
                    console.log("ng page started");
                    var anchoScreen = $(window).width();

                    $('#fullpage').fullpage({
                        slidesColor: ['#00BFBB', '#939FAA', '#00CEF1'],
                        'afterLoad': function () {
                        },

                    });

                    $("#homeBtn").click(function () {
                        $.fn.fullpage.moveTo(1, 0);
                    });

                    $("#howItWorksBtn").click(function () {
                        $.fn.fullpage.moveTo(2, 0);
                    });

                    $("#contactBtn").click(function () {
                        $.fn.fullpage.moveTo(3, 0);
                    });

                   

                    $(document).on('click', '.navbar-collapse.in', function (e) {
                        if ($(e.target).is('a')) {
                            $(this).collapse('hide');
                        }
                    });


                    vm.$userService.test();
                }


            }
        })();

    </script>

}
