
@{
    ViewBag.Title = "PageSample";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

@section Styles
{

}

<div ng-controller="testController as tc" class="feedContainer col-lg-5 col-lg-offset-3">

    <div class="" ngfx-flip-in-x="tc.showMe">
        I've been animated with Velocity and Angular!
    </div>
    <hr />
    <button ng-click="tc.showMe=true">Click to show</button>
    <button ng-click="tc.showMe=false">Click to show</button>

</div>



@section scripts{

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('testController', TestController);

            TestController.$inject = ['$scope'];

            function TestController(
                 $scope
                ) {

                var vm = this;

                vm.$scope = $scope;

                vm.showMe = false;

                init();

                function init() {
                    console.log("TestController loaded");
                }


            }
        })();

    </script>
}
