@model YelpSharp.Data.SearchResults

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<h2>Results</h2>

<fieldset>
    <legend>SearchResults</legend>

    <div class="display-label">total</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total)
    </div>

    
        <img src="@Model.businesses[0].image_url" alt="#">
    
    
   

    <input type="hidden" id="model" value="@Model.businesses[0]" />



</fieldset>
<p>
    @Html.ActionLink("Back to Search", "Index")
@section scripts{
<script type="text/javascript">
    tkj.page.startUp = function () {
        var modelval= $("#model").val();
        console.log(modelval,"model");
    }

    tkj.page.handlers.get = function () {
       
    }

</script>
        }